.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/******************
*  On Mobile Hide Editor
******************/
@media only screen and (max-width: 768px) {
  .editor-wrapper {
    display: none;
  }
  .app {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
